* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    /* PREVENT SCROLL BY DEFAULT */
    overflow: hidden;
    /* INNER BORDER */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* BUTTON FORMAT */
    background-color: transparent;
    /* LINK FORMAT */
    color: inherit;
    text-decoration-line: none;
}

html,
body,
#wrapper {
    width: 100%;
    height: 100%;
    background: #222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* #region /***** MAIN *****/
#wrapper {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    gap: 5px;
}

header button {
    background: #333;
    padding: 10px;
    flex: 1;
    cursor: pointer;
}

header button:hover {
    background: #444;
}

main {
    flex: 1;
    display: flex;
    gap: 5px;
}

section {
    flex: 1;
    display: flex;
}

#markdown,
#preview {
    flex: 1;
    border: 10px solid #000;
}

#markdown {
    padding: 10px;
    border: 10px solid #000;
    overflow: auto;
}

#preview {
    background: #0d1117;
}



/* #endregion */

/* #region /***** RESPONSIVE *****/
.horizontal {}

.vertical {}

/* #endregion */